.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /*background-color: #fff; /* Updated to white */
}

.logo {
  width: 150px; /* Adjust the size as needed */
  height: auto;
}
